* {
    font-family: 'Montserrat', sans-serif;

}
.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 100px;
    padding-right: 100px;
}

footer ul {
    list-style: none;
    padding: 0;
}

.footer {
    background-color: #24262b;
    color: white;
    position:absolute;
    float: inline-start;
    width: 100%;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0px 15px;
}

.footer-col h4 {
    color : #ffffff;
    letter-spacing: 1.5px;
    text-transform: capitalize;
    margin-bottom: 30px;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #00bab1;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li {
    margin-bottom: 10px;
    text-decoration: none;
}

.footer-col ul li a {
    text-transform: capitalize;
    color : #ffffff;
    text-decoration: none;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 10px;
}

.footer-col .social-links a {
    display: inline-block;
    background-color: rgba(255,255,255,0,0.2);
    color: #ffffff;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    margin: 0 10px 10px 0;
    transition: all 0.5s ease;
}

.footer-col span {
    content: "\1F57F";
    font-size: 20px;
    padding-right: 10px;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

@media (max-width: 770px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 600px) {
    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: stretch;
    }
}

@media (max-width: 360px) {
    .row {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 280px) {
    .row {
        flex-direction: column;
        align-items: flex-start;
    }
}