* {
    font-family: 'Montserrat', sans-serif;
}

nav {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:70px;
    padding: 0px 80px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgb(135, 135, 135);
}

nav .logo {
    font-size: x-large;
    font-weight: bold;
    padding: 22px 20px;
    height: 88px;
    float:left;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
}

label {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 0px 17px;
    margin: 10px 0px 0px 0px;
    line-height: 50px;
    border-radius: 0.3rem;
    float: right;
    display: none;
    
}

#toggle {
    display: none;
}

nav ul {
    list-style: none;
    float: right;
    margin: -10px;
    padding: 0;
    display: flex;
}

nav ul li a {
    line-height: 88px;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
    transition: all 0.2s linear;
}

nav ul li a:hover {
    background-color: #00bab1;
    color: black;
    font-weight: bold;
    border-radius: 6px;
}

@media screen and (max-width: 800px){
    label {
        display: block;
        cursor: pointer;
    }

    .nav_button ul li a:hover {
        background-color: #00bab1;
        color: black;
        font-weight: bold;
        border-radius: 50px;
    }
    
    .nav_button ul {
        background-color: rgba(0, 0, 0, 0.90);
        border-start-start-radius: 2rem;
        border-end-end-radius: 2rem;
        display: none;
        text-align: center;
        width: 100%;
        margin-top: -60px;
    }

    .nav_button ul li {
        display: block;
        width: 100%;
        padding: 1px;
        margin: 0;
    }
    .line{
        border-bottom: 3px solid #353535;
    }
    #toggle:checked + .nav_button ul {
        display: block;
    }
}

@media screen and (max-width: 450px){
    label {
        margin: 10px -60px 0px 0px;
    }
}

@media screen and (max-width: 360px){
    nav .logo {
        font-size: 18px;
        padding-top: 25px;
        margin-left: -80px;
    }
}

@media screen and (max-width: 280px){
    nav .logo {
        font-size: 18px;
        padding-top: 25px;
        margin-left: -80px;
    }
}